main {
    width: 700px;
    border: 2px solid #ceccce;
    border-radius: 3px;
    font-family: sans-serif;
}

header {
    line-height: 100%;
    border-bottom: 2px solid #ceccce;
    padding: 15px 10px 15px 15px;
    
}

#headerName {
    position: relative;
}

#headerName::before {
    display: inline;
    content: "";
    background-color: red;
    position: absolute;
    width: 0.5em;
    height: 1em;
    left: -15px;
}

.queryType {
    background-color: #efedef;
    padding: 15px;
    height: 90px;
    
    border-bottom: 2px solid #ceccce;
}

.queryType li {
    margin: 3px;
    display: inline-block;
    width: 280px;
}

.queryType li:last-of-type {
    margin-bottom: 15px;
}

.mainInfo {
    background-color: #f7f5f7;
    height: 400px;
    padding: 20px;
    border-bottom: 2px solid #ceccce;
}

#nameInfo {
    padding-bottom: 10px;
    border-bottom: 2px solid #ceccce;
}

#nameInfo li {
    
}

#addNameHint {
    display: inline-block;
    font-size: 12px;
    width: 300px;
    vertical-align: middle;
    
}

#nameInfo input {
    width: 260px;
    margin: 5px;
}

#docSwitch {
    margin: 20px 10px 10px 0px;
    width: 660px;
}

.documentInfo {
    margin: 5px 0px;
    width: 680px;
    
}

.documentInfo  li {
    display: inline;
    width: 100px;
    margin-right: 10px;
}

.documentInfo input {
    width: 65px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.documentInfo li:nth-child(3) input {
    width: 503px;
}

.documentInfo li:nth-child(4) input {
    width: 120px;
}

.textDiv {
    border-top: 2px solid #ceccce;
}

.text {
    box-sizing: border-box;
    margin-top: 15px;
    width: 660px;
    height: 160px;
}

footer {
    background-color: #efedef;
    height: 50px;
    font-size: 50px;
    margin: 0;
    line-height: 0.5;
    text-align: center;
}


#submitButton {
    background-color: #f5f3f5;
    display: inline;
    height: 30px;
}








:-moz-placeholder {
    font-style: italic;
}
::-webkit-input-placeholder {
    font-style: italic;
}

.alert {
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w18h181338911249info2.png);   
    background-repeat: no-repeat; 
    background-size: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    height: 10px; 
    width: 10px;
    right: 30px;
    margin-left: -25px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}


input:focus {
    outline: none;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}




.hint {
    font-size: 9pt;
    color: gray;
    line-height: 14pt;
    display: none;
    box-sizing: border-box;
    width: 215px;
    height: 25px;
    padding: 1px 6px;
    position: relative;
    background-color: white;
    border: 2px solid green;
    margin-left: 10px;
    vertical-align: middle;
}

.documentInfo .hint {
    position: absolute;
}

.hint::before, .hint::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-right-color: green;
    left: -11px;
    top: 25%;
}

.hint::after {
    left: -8px;
    border-right-color: white;
}

.alert:hover + .hint{
    
    display: inline-block;
}

